.footer {
    width: 100%;
    height: 55px;
    background-color: rgba(52, 96, 107, 1);
    margin-top: auto;
}

.footer_block {
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 84%;
    margin: 0 auto;
    color: white;
}

.footer_button {
    color: white;
    background-color:  rgb(86, 162, 182);
    border: none;
}

.footer_button:hover {
    border: none;
    background-color:  rgb(86, 162, 182);
}

.footer_asb_inform {
    color: white;
    text-decoration: none;
}

.footer_asb_inform:hover {
    color: lightgrey;
    text-decoration: none;
}

.footer_login_exit {
    display: flex;
    flex-direction: row;
}

.footer_login_exit_text {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-right: 20px;
}
