.header_toprow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 7%;
    padding-right: 7%;
    background-color: rgba(52, 96, 107, 1);
}

.header_toprow_logo {
    padding: 8px 0;
}

.header_top_logo {
    height: 40px;
}

.header_botrow {
    background: #fff;
    display: flex;
    flex-direction: row;
    padding-left: 7%;
    padding-right: 7%;
}

.header_link {
    text-decoration: none;
    color: rgba(52, 96, 107, 1);
    font-size: 1.2em;
    margin-right: 5px;
    max-width: 100%;
    text-align: center;
}

.header_link a {
    text-decoration: none;
    color: rgba(52, 96, 107, 1);
    font-size: 1em;
    max-width: 350px;
    padding-top: 0;
}

.header_link a.dropdown-item:active {
    background-color: rgb(86, 162, 182);
}

.header_link a.dropdown-item:hover {
    background-color: rgb(86, 162, 182);
}

.header_link:hover {
    color: rgb(86, 162, 182);
}

.header_link:active {
    color: rgba(52, 96, 107, 1);
}

.navbar-expand {
    width: 100%;
    justify-content: space-around;
}

.header_logo {
    height: 180px;
    width: 100%;
}
