@import "./header.css";
@import "./main.css";
@import "./footer.css";
@import "./rightSidePanel.css";
@import "./table.css";
@import "./dep.css";
@import "./posts.css";
@import "./auth.css";
@import "./rtEditor.css";
@import "./structDep.css";

.vert {
  max-width: 1px;
  background-color: lightgray;
  padding-right: 0;
  padding-left: 0;
  margin-left: 7px;
  margin-right: 7px;
}

.horiz {
  border-top: 1px double lightgray;
  margin-bottom: 5px;
  margin-right: 0;
}

.body {
  height: 100vh;
  font-family: "Roboto", serif;
}

.bread_link {
  text-decoration: none;
  color: #04734b;
  font-size: 18px;
  max-width: 350px;
  text-align: center;
}

.bread_link:hover {
  color: #00c77f;
}

.bread_link:active {
  color: #00c77f;
}

.button_action {
  font-family: "Roboto", serif !important;
}

.loader_center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

table.domino-table tbody,
td,
tfoot,
th,
thead,
tr {
  border-width: 1px;
}
