.main_block {
  background: rgba(235, 240, 241, 1) ;
  box-sizing: border-box;
  height: Calc(100vh - 335px);;
}

.main_part {
  display: flex;
  width: 84%;
  margin: 15px auto 0;
  background-color: rgba(255, 255, 255, 1);
  padding-left: 20px;

  box-sizing: border-box;
}

.main_part_main {
    width: 100%;
}

.main_part_right {
    display: flex;
    justify-content: space-between;
}

/*
.background_contacts {
    background-image: url('../../public/_bd6cd7d4-4e74-4a65-9996-6305de9ea488.jpg');
}

.background_actual {
    background-image: url('../../public/_ce228cc3-cd80-48f4-9aa0-80d965bfd345.jpg');
}

.background_links {
    background-image: url('../../public/_ec69192e-90cb-4f84-a472-e376ee0e5b4d.jpg');
}

.background_documents {
    background-image: url('../../public/_02e66512-d78b-4e1e-bf28-cb1ad25eddfa.jpg');
}

.background_default {
    background-image: url('../../public/_acb6a751-3f5c-4262-9bae-bffdf98f655f.jpg');
}*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}