.link_pagination {
    text-align: center;
    overflow: auto;
}

.link_pagination span {
    background-color: #34606BFF !important;
    color: white !important;
}

.link_pagination a {
    color: #34606BFF !important;
}

.post_row {
    border-bottom: 1px solid lightgray;
    margin-bottom: 18px;
}

.post_r
ow_date {
    background-color: #feffdd;
    width: 155px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 3px;
    margin-bottom: 10px;
}

.post_row_body {
    font-size: 16px;
    margin-bottom: 20px;
}

.post_row_body_adv {
    color: #af1313;
    text-decoration: underline;
    cursor: pointer;
}

.post_row_body_adv:hover {
    color: #af1313;
}

.post {
    width: 85%;
}

.post_header {
    display: flex;
    flex-direction: column;
}

.post_header_headline {
    color: #163462;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.2;
    text-align: justify;
}

.post_header_public {
    color: #7d8d87;
    font-size: 14px;
}

.post_main {
    font-size: 18px;
    margin-bottom: 20px;
}

.post_footer {
    display: flex;
    flex-direction: column;
}

.main_page_block {
    margin-top: 10px;
    display: flex;
    width: 100%;
}

.main_page_block_left_bot {
    display: flex;
    flex-direction: row;
}

.main_post {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 46vw;
    height: 45%;
    max-height: 46%;
    margin-top: 6px;
    margin-bottom: 2px;
    padding-bottom: 5px;
}

.main_post_header_image {
    max-height: 400px;
    max-width: 420px;
    padding: 0;
    padding-left: 10px;
}

.main_post_header_text {
    color: #163462;
    font-size: 21px;
    font-weight: bold;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.post_footer_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.post_footer_block_text {
    color: #940505;
}

.post_footer_block_date {
    color: #b6aaaa;
}

.other_post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    min-height: 21%;
}

.other_post_col {
    margin-left: 15px;
    padding-right: 40px;
}

.other_post_row {
    width: 21vw;
}

.other_post_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.other_post_header_text {
    font-size: 17px;
    font-weight: 550;
    -webkit-line-clamp: 7;
}

.post_header_short_text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px;
}

.main_post_header_short_text {
    font-size: 16px;
}

.post_pagination{
    margin-top: 10px;
}