.rightSidePanel_menu {
  display: flex;
  flex-direction: column;
}

.rightSidePanel_banners {
  padding-bottom: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.rightSidePanel_banners_photo {
  width: 120px;
  margin-right: 10px;
  padding-bottom: 10px;
}

.rightSidePanel_menu_link:hover {
  background-color: #c7e7b6;
  color: #04734b;
  border: 1px solid darkgray;
}

.rightSidePanel_menu_link:active {
  background-color: #c7e7b6;
  color: #04734b;
  border: 1px solid darkgray;
}
