.rightSidePanel_menu {
  display: flex;
}

.rightSidePanel_banners {
  text-align: center;
  display: flex;
}

.rightSidePanel_banners_photo {
  width: 120px;
  height: 45px;
  margin-right: 20px;
  padding-bottom: 4px;
}

