.rightSidePanel_menu {
  display: flex;
}

.rightSidePanel_banners {
  text-align: center;
  display: flex;
}

.rightSidePanel_banners_photo {
  width: 120px;
  height: 45px;
  margin-right: 20px;
  padding-bottom: 4px;
}

.rightSidePanel_menu_link:hover {
  background-color: #c7e7b6;
  color: #04734b;
  border: 1px solid darkgray;
}

.rightSidePanel_menu_link:active {
  background-color: #c7e7b6;
  color: #04734b;
  border: 1px solid darkgray;
}
