.table {
  border: 1px solid darkgrey;
}

.table_header_row {
  background-color: #278f51;
  text-align: center;
}

.table_header_cell {
  font-size: 16px;
  color: white;
  font-style: normal;
}

.table_body_row {
  background-color: #f4fff9;
  text-align: center;
}

.table_body_row_icon {
  font-size: 32px;
  margin: 0 auto;
  color: #79b169e0;
  cursor: pointer;
}

.report_row {
  color: black;
}
